.page4{
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: center;
    align-items: center; */
    background: black;
}
.left_side h1{
color: white;
font-size: 3rem;
margin-left: 4rem;
margin-top: 8rem;
}

.left_side h2 {
  color: white;
  font-size: 1.6rem; /* Adjust the size as needed */
  margin-left: 4rem;
  margin-top: -1rem;
  font-weight: normal; /* Ensure the font is not bold */
}
  .video-wrapper img{
    height: 250px;
    width: 400px;
    margin-right: 7rem;
  }
  
.img{
height: 270px;
width: 420px;
margin-top: 5rem;
margin-left: 8rem;
transition: all 0.2s ease-in-out;

}
/* .img_1:hover{
  height: 310px;
width:480px;
/* transition: all 0.6s ease-in-out;; */
/* }  */
  .rajma{
    margin-top: -8rem;
    height: 250px;
    width: 150px;
    margin-left: 25rem;

  }
  .man{
    margin-top:-20rem;
    height: 170px;
    width: 100px;
    margin-left: 10rem;

  }
